<!DOCTYPE html>
<html lang="en">
<%- include("head")%>
<body>
    <section class="main col-md-12">
        <div class="container">
            <h1><%= p.TenKH %></h1>
            <p><%= p.DiaChi %></p>
        </div>
        <div class="button">
            <h3><a href="/">Back to home page</a></h3>
        </div>
</body>
</html>