<!DOCTYPE html>
<html lang="en">
<%- include("head")%>
    <style>
        img {
            width: 500px;
            height: 300px;

        }

        .item {
            float: left;
            margin-left: 50px;
        }
    </style>

    <body>

        <h1>Mã sản phẩm : <%= msp %>
        </h1>
        <h1 style="color: red;">
            <%= p.name %>
        </h1>
        <img src="<%= p.image %> " alt="">


        <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="js/thoitiet.js"></script>
    </body>

</html>