<div class="row">
    <div class="col-md-12">
        <div class="col-sm-1">
            <div id="img-weather">
              
            </div>
        </div>
        <div class="col-sm-5">
           <div>
               <h3>Nhiệt độ hiện tại là: 
                   <span class="nhietdo" id="nhietdo">
                        
                   </span>
                   <sup>o</sup><sup>C</sup>
               </h3>
               <h4>Nhiệt độ thấp nhất : <span id="min"></span></h4>
               <h4>Nhiệt độ cao nhất : <span id="max"></span></h4>
               <h4>Độ ẩm : <span id="hum"></span><span>%</span></h4>
               <h4>Gió : <span id="wind"></span><span> km/h</span></h4>
           </div>
        </div>
        <div class="col-sm-6">
            <h2><span id="city"></span></h2>
            <h2><span id="desc"></span></h2>
        </div>
    </div>
</div>